<h1>Home Page</h1>


            <% @kids.each do |kid| %>
    <div> 
        <h2>Full Name: <%= link_to kid.f_name, kid_milestones_path(kid) %><%= link_to kid.l_name, kid_path(kid) %></h2>
        <hr>
    </div> 
<% end %>

    <%= link_to 'Add New Child', new_kid_path %>